.carousel .slide video {
  width: 100%;
  vertical-align: top;
  border: 0;
  display: inline-block;
}

.carousel .slide {
  display: flex;
  justify-content: center;
}

.content-item-container {
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.fade-in-section .image-first {
  flex-direction: row-reverse;
}

@media (max-width: 750px) {
  .fade-in-section .content-item-container {
    flex-direction: column;
  }
}

.text-content {
  flex: 1;
}

.image-content {
  flex: 1;
  max-width: 100%;
}

@media (min-width: 750px) {
  .image-content {
    max-width: 350px;
  }
}
