.search-container {
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.search-list {
    color: #000000;
    position: absolute;
    width: 160px;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    margin: 0 5px;
    padding: 0;
    z-index: 10;
    font-size: small;
    max-height: 300px;
    overflow-y: auto;
}

.search-list li {
    padding: 4px;
    cursor: pointer;
}

.search-list li:hover {
    background-color: #f0f0f0;
}

.no-projects {
    margin-top: 32px;
}