.zoom-in {
  opacity: 0;
  -webkit-animation: zoom-in 1.5s cubic-bezier(0.25,0.1,0.25,0.9) forwards;
  animation: zoom-in 1.5s cubic-bezier(0.25,0.1,0.25,0.9) forwards;
}
@-webkit-keyframes zoom-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.2);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.bounce {
  animation: bounce 0.7s;
  animation-direction: alternate;
}

@-webkit-keyframes bounce {

  25%,
  70%,
  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(-15px);
  }

  52% {
    transform: translateY(-8px);
  }

  88% {
    transform: translateY(-3px);
  }
}

@keyframes bounce {

  25%,
  70%,
  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(-15px);
  }

  52% {
    transform: translateY(-8px);
  }

  88% {
    transform: translateY(-3px);
  }
}

.popout-link .popout {
  float: left;
  margin: 3px;
  margin-left: -36px;
  animation: pop-in ease 0.7s forwards;
}

@media (max-width: 750px) {
  .popout-link .popout {
    display: none;
  }
}

@keyframes pop-in {
  100% {
    transform: translateX(20px) scale(0);
    opacity: 0;
  }

  30% {
    transform: translateX(-10px) scale(1.5);
  }

  0% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}

.popout-link:hover .popout {
  animation: pop-out ease 0.7s forwards;
}

@keyframes pop-out {
  0% {
    transform: translateX(20px) scale(0);
    opacity: 0;
  }

  30% {
    transform: translateX(-10px) scale(1.5);
  }

  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}