@import url("https://fonts.googleapis.com/css?family=Tangerine");

:root {
  --animation-time: 3s;
  --negative-animation-distance: -40px;
  --positive-animation-distance: 40px;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #66d9ff;
  height: 100vh;
  background-image: linear-gradient(#0099cc, #99e6ff);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
}
a:hover {
  color: rgb(66, 66, 66);
}

.home-containter {
  font-family: "Tangerine", Georgia, "Times New Roman", Times, serif;
  font-size: max(36px, 8vh);
  text-align: center;
  padding-top: 30vh;
}
.home-containter h1 {
  font-size: max(42px, 15vh);
}

.navigation {
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.content-container {
  padding-top: 90px;
}

/* animations */
.fade-down {
  animation: fadeDown ease var(--animation-time);
  -webkit-animation: fadeDown ease var(--animation-time);
  -moz-animation: fadeDown ease var(--animation-time);
  -o-animation: fadeDown ease var(--animation-time);
  -ms-animation: fadeDown ease var(--animation-time);
}
@keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade-up {
  animation: fadeUp ease var(--animation-time);
  -webkit-animation: fadeUp ease var(--animation-time);
  -moz-animation: fadeUp ease var(--animation-time);
  -o-animation: fadeUp ease var(--animation-time);
  -ms-animation: fadeUp ease var(--animation-time);
}
@keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
