body {
  margin: 0;
  background-color: #66d9ff;
  height: 100vh;
  background-image: linear-gradient(#0099cc, #99e6ff);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
