.menu-icon {
  display: inline-block;
}

.hamburger-icon li {
  height: 100%;
  padding-bottom: 10.5px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: grey;
  margin: 4.8px 0;
  transition: 0.4s;
}

.bar1 {
  margin-top: 4px;
}

.bar3 {
  margin-bottom: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 5.5px);
  transform: rotate(-45deg) translate(-7px, 5.5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}