.slide-in {
  animation: slide-in ease 2s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateY(0px);
  }

  0% {
    transform: translateY(-57px);
  }
}

.fa-github {
  font-size: 24px;
  top: 5px;
}

nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: var(--secondary-colour);
  overflow: hidden;
}

nav ul {
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 750px) {
  .navbar-container .dropdown-list {
    flex-direction: column;
  }

  .nav2 .navbar-container ul li {
    font-size: 16px;
    padding: 10px 10px;
  }

  nav .navbar-container {
    max-width: 100vw;
    width: 100vw;
  }

  .navbar-container .dropdown-row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .navbar-container .dropdown-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

nav ul li {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
}

nav ul li:hover {
  background-color: var(--quaternary-colour);
  color: black;
}

nav ul li.active {
  background-color: var(--primary-colour);
  color: white;
}

.nav2 ul li.active {
  background-color: var(--tertiary-colour);
  color: white;
}

nav ul li.active:hover {
  background-color: var(--quaternary-colour);
  color: black;
}

.nav2 ul li.active:hover {
  background-color: var(--quaternary-colour);
  color: black;
}

.nav2 ul li {
  font-size: 19px;
  padding: 10px 16px;
}

nav ul a {
  color: grey;
}

.navbar-container {
  width: 1000px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.nav2 {
  overflow-x: auto;
}

.nav2::-webkit-scrollbar {
  display: none;
}

.navbar-rightside {
  float: right;
  cursor: pointer;
}

.nav-link {
  flex-grow: 1;
}

.nav2 {
  z-index: 5;
  top: 57px;
  background-color: var(--primary-colour);
}

.sub-dropdown-item {
  font-size: small;
  opacity: 0.8;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-dropdown-item {
  display: none;
}

@media (max-width: 750px) {
  .sub-dropdown-item {
    display: block;
  }

  .dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .dropdown-container .has-subheadings {
    position: relative;
    left: 26px;
  }

  .dropdown-container a {
    width: 100%;
  }
}

.dropdown-icon {
  display: none;
}

@media (max-width: 750px) {
  .dropdown-icon {
    display: flex;
  }
}

.dropdown-icon {
  width: 26px;
  font-size: x-large;
  padding-top: 11px;
  padding-bottom: 11px;
}

.dropdown-icon-open {
  top: 5px;
  transition-duration: 1s;
  position: relative;
}

.dropdown-icon-closed {
  transition-duration: 1s;
}

.line1,
.line2 {
  width: 15px;
  height: 3px;
  background-color: grey;
  position: relative;
  transition: 0.4s;
}

.dropdown-icon-open .line1 {
  transform: rotate(45deg);
  margin-left: 10px;
  margin-top: 13px;
}

.dropdown-icon-open .line2 {
  margin-left: 0px;
  margin-top: -3px;
  transform: rotate(-45deg);
}

.dropdown-icon-closed .line1 {
  transform: rotate(-45deg);
  margin-left: 10px;
  margin-top: 15px;
}

.dropdown-icon-closed .line2 {
  margin-left: 0px;
  margin-top: -3px;
  transform: rotate(45deg);
}