/* underline doesn't go full width */
.link-container {
    display: flex;
    cursor: pointer;
}

.link {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-bottom: 6px;
}

.link-text {
    padding: 0 10px;
}

/* on hover underline */
.link-underline {
    width: 100%;
    height: 30px;
    position: absolute;
    background:
        linear-gradient(currentColor 0 0) 0 100%,
        linear-gradient(currentColor 0 0) 0 100%,
        linear-gradient(currentColor 0 0) 100% 100%,
        linear-gradient(currentColor 0 0) 100% 100%;
    background-size: var(--underline-width, 50%) 2px, 2px var(--underline-height, 0);
    background-repeat: no-repeat;
    transition: 0.5s;
    animation: underline ease var(--animation-time) forwards;
}

.link:hover {
    --underline-height: 100%;
    --underline-width: 0%
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}