.row {
    display: flex;
    flex-wrap: wrap;
}

.tile-img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: white;
    object-fit: cover;
}

.columns {
    flex: 45%;
    max-width: 49%;
    margin: 0 0.5%;
    margin-top: 8px;
    position: relative;
}

@media (max-width: 600px) {
    .columns {
        flex: 100%;
        max-width: 100%;
        position: relative;
        margin-bottom: 24px;
    }
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xxx-large;
}

.layer {
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.layer:hover {
    opacity: 0.3;
}