@import url("https://fonts.googleapis.com/css?family=Tangerine");

:root {
  --animation-time: 3s;
  --negative-animation-distance: -40px;
  --positive-animation-distance: 40px;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #66d9ff;
  height: 100vh;
  background-image: linear-gradient(#0099cc, #99e6ff);
  background-attachment: fixed;
}

p {
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
}
a:hover {
  color: rgb(66, 66, 66);
}

.home-containter {
  font-family: "Tangerine", Georgia, "Times New Roman", Times, serif;
  font-size: max(36px, 8vh);
  text-align: center;
  padding-top: 30vh;
}
.home-containter h1 {
  font-size: max(42px, 15vh);
}

.navigation {
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.content-container {
  padding-top: 90px;
  width: 1000px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 20px #222222;
}

/* ------------------- bullet points ------------------- */

.code-bullet-points {
  column-count: 2;
  list-style: none;
  padding-left: 0;
}
.code-bullet-points li {
  position: relative;
  padding-left: 25px;
}
.code-bullet-points li:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("./assets/code-bullet-point.png");
  background-size: cover;
  left: 0;
  top: 4px;
}

.value-bullet-points {
  list-style: none;
  padding-left: 0;
}
.value-bullet-points li {
  position: relative;
  padding-left: 30px;
}
.value-bullet-points li:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("./assets/value-bullet-point.png");
  background-size: cover;
  left: 0;
}

/* ------------------- animations ------------------- */

.fade {
  -webkit-animation-duration: var(--animation-time);
  -moz-animation-duration: var(--animation-time);
  -o-animation-duration: var(--animation-time);
  -ms-animation-duration: var(--animation-time);
  animation-duration: var(--animation-time);
}

.fade.down {
  animation: fadeDown ease var(--animation-time);
  -webkit-animation: fadeDown ease var(--animation-time);
  -moz-animation: fadeDown ease var(--animation-time);
  -o-animation: fadeDown ease var(--animation-time);
  -ms-animation: fadeDown ease var(--animation-time);

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade.up {
  animation: fadeUp ease var(--animation-time);
  -webkit-animation: fadeUp ease var(--animation-time);
  -moz-animation: fadeUp ease var(--animation-time);
  -o-animation: fadeUp ease var(--animation-time);
  -ms-animation: fadeUp ease var(--animation-time);

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade.left {
  animation: fadeLeft ease var(--animation-time);
  -webkit-animation: fadeLeft ease var(--animation-time);
  -moz-animation: fadeLeft ease var(--animation-time);
  -o-animation: fadeLeft ease var(--animation-time);
  -ms-animation: fadeLeft ease var(--animation-time);

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fade.right {
  animation: fadeRight ease var(--animation-time);
  -webkit-animation: fadeRight ease var(--animation-time);
  -moz-animation: fadeRight ease var(--animation-time);
  -o-animation: fadeRight ease var(--animation-time);
  -ms-animation: fadeRight ease var(--animation-time);

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
