@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --animation-time: 2500ms;
  --negative-animation-distance: -40px;
  --positive-animation-distance: 40px;
}

html,
body {
  height: 100%;
}

body {
  background: url(https://w.wallhaven.cc/full/2e/wallhaven-2em38y.jpg);
  /* background: url(https://wallpapercave.com/wp/Qk8yAeA.jpg); */
  /* background: url(https://wallpapercave.com/wp/Qk8yAeA.jpg); */
  /* background: url(https://wallpapercave.com/wp/Qk8yAeA.jpg); */
  /* background: url(https://wallpapercave.com/wp/Qk8yAeA.jpg); */
  /* background: url(http://getwallpapers.com/wallpaper/full/b/d/3/455205.jpg); */
  background-size: cover;
  /* position: fixed; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* background-attachment: scroll; */
  margin: 0;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background-color: #66d9ff; */
  height: 100vh;
  /* background-image: linear-gradient(#0099cc, #99e6ff); */
  /* background-attachment: fixed; */
  font-weight: normal;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  overflow: auto;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(66, 66, 66);
}

button {
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  border: 0;
}
button:hover {
  opacity: 0.7;
}

.home-containter {
  font-family: "Tangerine", Georgia, "Times New Roman", Times, serif;
  font-size: max(36px, 8vh);
  text-align: center;
  padding-top: 30vh;
  /* overflow: scroll; */
}
.home-containter h1 {
  font-size: max(42px, 15vh);
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 20px #222222;
  width: 30vw;
  max-width: 200px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.content-container {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 1000px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  /* overflow: scroll; */
}

/* ------------------- nav ------------------- */

nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: #333;
  overflow: hidden;
}

nav ul {
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 1s;
  height: 100%;
}

nav ul li:hover {
  background-color: #ddd;
  color: black;
}

nav ul li.active {
  background-color: #00131a;
  color: white;
}

nav ul a {
  color: grey;
}

.navbar-container {
  width: 1000px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.navbar-rightside {
  float: right;
  cursor: pointer;
}

.dropdown-open {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* menu icon and animation */

.menu-icon {
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: grey;
  margin: 4.8px 0;
  transition: 0.4s;
}
.bar1 {
  margin-top: 0;
}
.bar3 {
  margin-bottom: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 5.5px);
  transform: rotate(-45deg) translate(-7px, 5.5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* ------------------- modal ------------------- */

.modal-background {
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 1000px;
  max-width: 90vw;
}

.caption {
  margin: auto;
  display: block;
  width: 1000px;
  max-width: 90vw;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Zoom Animation */
.modal-content,
.caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------- bullet points ------------------- */

.code-bullet-points {
  column-count: 2;
  list-style: none;
  padding-left: 0;
}
.code-bullet-points li {
  position: relative;
  padding-left: 25px;
}
.code-bullet-points li:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("./assets/code-bullet-point.png");
  background-size: cover;
  left: 0;
  top: 4px;
}

.value-bullet-points {
  list-style: none;
  padding-left: 0;
}
.value-bullet-points li {
  position: relative;
  padding-left: 30px;
}
.value-bullet-points li:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("./assets/value-bullet-point.png");
  background-size: cover;
  left: 0;
}

/* ------------------- animations ------------------- */

.fade {
  -webkit-animation-duration: var(--animation-time);
  -moz-animation-duration: var(--animation-time);
  -o-animation-duration: var(--animation-time);
  -ms-animation-duration: var(--animation-time);
  animation-duration: var(--animation-time);
}

.fade.down {
  animation: fadeDown ease var(--animation-time) forwards;
  -webkit-animation: fadeDown ease var(--animation-time) forwards;
  -moz-animation: fadeDown ease var(--animation-time) forwards;
  -o-animation: fadeDown ease var(--animation-time) forwards;
  -ms-animation: fadeDown ease var(--animation-time) forwards;
}
@keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade.up {
  animation: fadeUp ease var(--animation-time) forwards;
  -webkit-animation: fadeUp ease var(--animation-time) forwards;
  -moz-animation: fadeUp ease var(--animation-time) forwards;
  -o-animation: fadeUp ease var(--animation-time) forwards;
  -ms-animation: fadeUp ease var(--animation-time) forwards;
}
@keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade.left {
  animation: fadeLeft ease var(--animation-time) forwards;
  -webkit-animation: fadeLeft ease var(--animation-time) forwards;
  -moz-animation: fadeLeft ease var(--animation-time) forwards;
  -o-animation: fadeLeft ease var(--animation-time) forwards;
  -ms-animation: fadeLeft ease var(--animation-time) forwards;
}
@keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fade.right {
  animation: fadeRight ease var(--animation-time) forwards;
  -webkit-animation: fadeRight ease var(--animation-time) forwards;
  -moz-animation: fadeRight ease var(--animation-time) forwards;
  -o-animation: fadeRight ease var(--animation-time) forwards;
  -ms-animation: fadeRight ease var(--animation-time) forwards;
}
@keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* ------------------- fireflies ------------------- */

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 17s;
}
.firefly:nth-child(1)::after {
  animation-duration: 17s, 6488ms;
  animation-delay: 0ms, 2767ms;
}

@keyframes move1 {
  0% {
    transform: translateX(13vw) translateY(35vh) scale(0.64);
  }
  3.5714285714% {
    transform: translateX(46vw) translateY(8vh) scale(0.81);
  }
  7.1428571429% {
    transform: translateX(-48vw) translateY(-44vh) scale(0.88);
  }
  10.7142857143% {
    transform: translateX(-19vw) translateY(1vh) scale(0.33);
  }
  14.2857142857% {
    transform: translateX(-13vw) translateY(-23vh) scale(0.5);
  }
  17.8571428571% {
    transform: translateX(47vw) translateY(-34vh) scale(0.61);
  }
  21.4285714286% {
    transform: translateX(-48vw) translateY(8vh) scale(0.93);
  }
  25% {
    transform: translateX(14vw) translateY(30vh) scale(0.35);
  }
  28.5714285714% {
    transform: translateX(-15vw) translateY(7vh) scale(0.74);
  }
  32.1428571429% {
    transform: translateX(30vw) translateY(-15vh) scale(0.63);
  }
  35.7142857143% {
    transform: translateX(-23vw) translateY(-20vh) scale(0.8);
  }
  39.2857142857% {
    transform: translateX(-40vw) translateY(22vh) scale(0.84);
  }
  42.8571428571% {
    transform: translateX(30vw) translateY(-30vh) scale(0.89);
  }
  46.4285714286% {
    transform: translateX(-40vw) translateY(18vh) scale(0.82);
  }
  50% {
    transform: translateX(-14vw) translateY(-36vh) scale(0.32);
  }
  53.5714285714% {
    transform: translateX(-16vw) translateY(46vh) scale(0.84);
  }
  57.1428571429% {
    transform: translateX(-37vw) translateY(37vh) scale(0.85);
  }
  60.7142857143% {
    transform: translateX(-22vw) translateY(-23vh) scale(0.29);
  }
  64.2857142857% {
    transform: translateX(-38vw) translateY(23vh) scale(0.92);
  }
  67.8571428571% {
    transform: translateX(44vw) translateY(26vh) scale(0.27);
  }
  71.4285714286% {
    transform: translateX(-32vw) translateY(13vh) scale(0.27);
  }
  75% {
    transform: translateX(-9vw) translateY(50vh) scale(0.56);
  }
  78.5714285714% {
    transform: translateX(-39vw) translateY(24vh) scale(0.42);
  }
  82.1428571429% {
    transform: translateX(9vw) translateY(20vh) scale(0.28);
  }
  85.7142857143% {
    transform: translateX(41vw) translateY(32vh) scale(0.33);
  }
  89.2857142857% {
    transform: translateX(13vw) translateY(43vh) scale(0.66);
  }
  92.8571428571% {
    transform: translateX(47vw) translateY(49vh) scale(0.43);
  }
  96.4285714286% {
    transform: translateX(-37vw) translateY(-40vh) scale(0.98);
  }
  100% {
    transform: translateX(4vw) translateY(-7vh) scale(0.26);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 18s;
}
.firefly:nth-child(2)::after {
  animation-duration: 18s, 7735ms;
  animation-delay: 0ms, 3461ms;
}

@keyframes move2 {
  0% {
    transform: translateX(-33vw) translateY(20vh) scale(0.51);
  }
  4.5454545455% {
    transform: translateX(37vw) translateY(38vh) scale(0.34);
  }
  9.0909090909% {
    transform: translateX(31vw) translateY(-43vh) scale(0.45);
  }
  13.6363636364% {
    transform: translateX(29vw) translateY(-20vh) scale(0.59);
  }
  18.1818181818% {
    transform: translateX(-11vw) translateY(-27vh) scale(0.65);
  }
  22.7272727273% {
    transform: translateX(-16vw) translateY(-42vh) scale(0.92);
  }
  27.2727272727% {
    transform: translateX(-27vw) translateY(-22vh) scale(0.92);
  }
  31.8181818182% {
    transform: translateX(-17vw) translateY(-27vh) scale(0.43);
  }
  36.3636363636% {
    transform: translateX(18vw) translateY(-30vh) scale(0.95);
  }
  40.9090909091% {
    transform: translateX(38vw) translateY(1vh) scale(0.97);
  }
  45.4545454545% {
    transform: translateX(-45vw) translateY(33vh) scale(0.73);
  }
  50% {
    transform: translateX(-34vw) translateY(44vh) scale(0.89);
  }
  54.5454545455% {
    transform: translateX(-19vw) translateY(41vh) scale(0.45);
  }
  59.0909090909% {
    transform: translateX(-38vw) translateY(-38vh) scale(0.65);
  }
  63.6363636364% {
    transform: translateX(3vw) translateY(-48vh) scale(0.88);
  }
  68.1818181818% {
    transform: translateX(3vw) translateY(-37vh) scale(0.46);
  }
  72.7272727273% {
    transform: translateX(-19vw) translateY(1vh) scale(0.35);
  }
  77.2727272727% {
    transform: translateX(10vw) translateY(-48vh) scale(0.95);
  }
  81.8181818182% {
    transform: translateX(-17vw) translateY(-19vh) scale(0.92);
  }
  86.3636363636% {
    transform: translateX(7vw) translateY(27vh) scale(0.75);
  }
  90.9090909091% {
    transform: translateX(-25vw) translateY(15vh) scale(0.96);
  }
  95.4545454545% {
    transform: translateX(0vw) translateY(2vh) scale(0.91);
  }
  100% {
    transform: translateX(-49vw) translateY(-2vh) scale(0.35);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 11s;
}
.firefly:nth-child(3)::after {
  animation-duration: 11s, 9724ms;
  animation-delay: 0ms, 1720ms;
}

@keyframes move3 {
  0% {
    transform: translateX(-1vw) translateY(40vh) scale(0.5);
  }
  3.5714285714% {
    transform: translateX(-18vw) translateY(-19vh) scale(0.72);
  }
  7.1428571429% {
    transform: translateX(27vw) translateY(-18vh) scale(0.82);
  }
  10.7142857143% {
    transform: translateX(40vw) translateY(37vh) scale(0.31);
  }
  14.2857142857% {
    transform: translateX(0vw) translateY(19vh) scale(0.99);
  }
  17.8571428571% {
    transform: translateX(33vw) translateY(6vh) scale(0.84);
  }
  21.4285714286% {
    transform: translateX(-40vw) translateY(44vh) scale(0.52);
  }
  25% {
    transform: translateX(-15vw) translateY(23vh) scale(0.71);
  }
  28.5714285714% {
    transform: translateX(-19vw) translateY(-3vh) scale(0.64);
  }
  32.1428571429% {
    transform: translateX(12vw) translateY(-27vh) scale(0.64);
  }
  35.7142857143% {
    transform: translateX(35vw) translateY(29vh) scale(0.28);
  }
  39.2857142857% {
    transform: translateX(39vw) translateY(0vh) scale(0.66);
  }
  42.8571428571% {
    transform: translateX(39vw) translateY(-20vh) scale(0.86);
  }
  46.4285714286% {
    transform: translateX(18vw) translateY(-39vh) scale(0.47);
  }
  50% {
    transform: translateX(23vw) translateY(-49vh) scale(0.72);
  }
  53.5714285714% {
    transform: translateX(20vw) translateY(37vh) scale(0.87);
  }
  57.1428571429% {
    transform: translateX(20vw) translateY(-12vh) scale(0.32);
  }
  60.7142857143% {
    transform: translateX(-48vw) translateY(-10vh) scale(0.79);
  }
  64.2857142857% {
    transform: translateX(31vw) translateY(-20vh) scale(0.32);
  }
  67.8571428571% {
    transform: translateX(-22vw) translateY(24vh) scale(0.51);
  }
  71.4285714286% {
    transform: translateX(-37vw) translateY(-3vh) scale(0.43);
  }
  75% {
    transform: translateX(6vw) translateY(46vh) scale(0.57);
  }
  78.5714285714% {
    transform: translateX(11vw) translateY(-25vh) scale(0.31);
  }
  82.1428571429% {
    transform: translateX(-10vw) translateY(-42vh) scale(0.35);
  }
  85.7142857143% {
    transform: translateX(-49vw) translateY(-39vh) scale(0.89);
  }
  89.2857142857% {
    transform: translateX(43vw) translateY(-32vh) scale(0.79);
  }
  92.8571428571% {
    transform: translateX(13vw) translateY(-15vh) scale(0.43);
  }
  96.4285714286% {
    transform: translateX(-47vw) translateY(-40vh) scale(0.91);
  }
  100% {
    transform: translateX(35vw) translateY(23vh) scale(0.46);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 12s;
}
.firefly:nth-child(4)::after {
  animation-duration: 12s, 6074ms;
  animation-delay: 0ms, 6293ms;
}

@keyframes move4 {
  0% {
    transform: translateX(0vw) translateY(49vh) scale(0.83);
  }
  4.5454545455% {
    transform: translateX(-16vw) translateY(-20vh) scale(0.79);
  }
  9.0909090909% {
    transform: translateX(-15vw) translateY(25vh) scale(0.48);
  }
  13.6363636364% {
    transform: translateX(38vw) translateY(31vh) scale(0.81);
  }
  18.1818181818% {
    transform: translateX(23vw) translateY(39vh) scale(0.61);
  }
  22.7272727273% {
    transform: translateX(-44vw) translateY(-4vh) scale(0.6);
  }
  27.2727272727% {
    transform: translateX(32vw) translateY(46vh) scale(0.51);
  }
  31.8181818182% {
    transform: translateX(6vw) translateY(-3vh) scale(0.55);
  }
  36.3636363636% {
    transform: translateX(26vw) translateY(-13vh) scale(0.51);
  }
  40.9090909091% {
    transform: translateX(49vw) translateY(29vh) scale(0.83);
  }
  45.4545454545% {
    transform: translateX(-49vw) translateY(-2vh) scale(0.33);
  }
  50% {
    transform: translateX(33vw) translateY(24vh) scale(0.42);
  }
  54.5454545455% {
    transform: translateX(3vw) translateY(-28vh) scale(0.72);
  }
  59.0909090909% {
    transform: translateX(34vw) translateY(-45vh) scale(0.84);
  }
  63.6363636364% {
    transform: translateX(47vw) translateY(47vh) scale(0.58);
  }
  68.1818181818% {
    transform: translateX(37vw) translateY(-18vh) scale(0.77);
  }
  72.7272727273% {
    transform: translateX(-20vw) translateY(36vh) scale(0.78);
  }
  77.2727272727% {
    transform: translateX(-15vw) translateY(-12vh) scale(0.84);
  }
  81.8181818182% {
    transform: translateX(-19vw) translateY(-6vh) scale(0.3);
  }
  86.3636363636% {
    transform: translateX(-1vw) translateY(20vh) scale(0.57);
  }
  90.9090909091% {
    transform: translateX(33vw) translateY(42vh) scale(0.8);
  }
  95.4545454545% {
    transform: translateX(45vw) translateY(7vh) scale(0.83);
  }
  100% {
    transform: translateX(30vw) translateY(44vh) scale(0.99);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 15s;
}
.firefly:nth-child(5)::after {
  animation-duration: 15s, 10111ms;
  animation-delay: 0ms, 712ms;
}

@keyframes move5 {
  0% {
    transform: translateX(44vw) translateY(-17vh) scale(0.51);
  }
  3.7037037037% {
    transform: translateX(-1vw) translateY(-23vh) scale(0.88);
  }
  7.4074074074% {
    transform: translateX(27vw) translateY(-29vh) scale(0.57);
  }
  11.1111111111% {
    transform: translateX(10vw) translateY(-43vh) scale(0.47);
  }
  14.8148148148% {
    transform: translateX(44vw) translateY(-6vh) scale(0.64);
  }
  18.5185185185% {
    transform: translateX(-48vw) translateY(27vh) scale(0.88);
  }
  22.2222222222% {
    transform: translateX(4vw) translateY(8vh) scale(0.81);
  }
  25.9259259259% {
    transform: translateX(34vw) translateY(-14vh) scale(0.3);
  }
  29.6296296296% {
    transform: translateX(-31vw) translateY(-29vh) scale(0.96);
  }
  33.3333333333% {
    transform: translateX(-21vw) translateY(12vh) scale(0.86);
  }
  37.037037037% {
    transform: translateX(-30vw) translateY(-14vh) scale(0.53);
  }
  40.7407407407% {
    transform: translateX(-28vw) translateY(-17vh) scale(0.39);
  }
  44.4444444444% {
    transform: translateX(6vw) translateY(6vh) scale(0.3);
  }
  48.1481481481% {
    transform: translateX(-42vw) translateY(-41vh) scale(0.54);
  }
  51.8518518519% {
    transform: translateX(34vw) translateY(-25vh) scale(0.36);
  }
  55.5555555556% {
    transform: translateX(-28vw) translateY(28vh) scale(0.29);
  }
  59.2592592593% {
    transform: translateX(-29vw) translateY(-25vh) scale(0.47);
  }
  62.962962963% {
    transform: translateX(-42vw) translateY(40vh) scale(0.69);
  }
  66.6666666667% {
    transform: translateX(12vw) translateY(4vh) scale(0.86);
  }
  70.3703703704% {
    transform: translateX(49vw) translateY(17vh) scale(0.78);
  }
  74.0740740741% {
    transform: translateX(10vw) translateY(-45vh) scale(0.3);
  }
  77.7777777778% {
    transform: translateX(49vw) translateY(9vh) scale(0.4);
  }
  81.4814814815% {
    transform: translateX(-25vw) translateY(-31vh) scale(0.58);
  }
  85.1851851852% {
    transform: translateX(-2vw) translateY(12vh) scale(0.82);
  }
  88.8888888889% {
    transform: translateX(39vw) translateY(30vh) scale(0.28);
  }
  92.5925925926% {
    transform: translateX(23vw) translateY(-44vh) scale(0.26);
  }
  96.2962962963% {
    transform: translateX(-43vw) translateY(40vh) scale(0.42);
  }
  100% {
    transform: translateX(-45vw) translateY(23vh) scale(0.98);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 16s;
}
.firefly:nth-child(6)::after {
  animation-duration: 16s, 10034ms;
  animation-delay: 0ms, 544ms;
}

@keyframes move6 {
  0% {
    transform: translateX(25vw) translateY(-16vh) scale(0.61);
  }
  5.5555555556% {
    transform: translateX(38vw) translateY(-12vh) scale(0.85);
  }
  11.1111111111% {
    transform: translateX(12vw) translateY(-2vh) scale(0.56);
  }
  16.6666666667% {
    transform: translateX(31vw) translateY(-22vh) scale(0.27);
  }
  22.2222222222% {
    transform: translateX(-11vw) translateY(-47vh) scale(0.4);
  }
  27.7777777778% {
    transform: translateX(-36vw) translateY(11vh) scale(0.75);
  }
  33.3333333333% {
    transform: translateX(38vw) translateY(49vh) scale(0.97);
  }
  38.8888888889% {
    transform: translateX(37vw) translateY(3vh) scale(0.28);
  }
  44.4444444444% {
    transform: translateX(-40vw) translateY(11vh) scale(0.31);
  }
  50% {
    transform: translateX(0vw) translateY(-8vh) scale(0.86);
  }
  55.5555555556% {
    transform: translateX(-44vw) translateY(49vh) scale(0.26);
  }
  61.1111111111% {
    transform: translateX(35vw) translateY(-11vh) scale(0.62);
  }
  66.6666666667% {
    transform: translateX(21vw) translateY(-9vh) scale(0.36);
  }
  72.2222222222% {
    transform: translateX(-6vw) translateY(-14vh) scale(0.92);
  }
  77.7777777778% {
    transform: translateX(-2vw) translateY(2vh) scale(0.5);
  }
  83.3333333333% {
    transform: translateX(-38vw) translateY(36vh) scale(0.83);
  }
  88.8888888889% {
    transform: translateX(20vw) translateY(18vh) scale(0.57);
  }
  94.4444444444% {
    transform: translateX(-45vw) translateY(-36vh) scale(0.83);
  }
  100% {
    transform: translateX(-1vw) translateY(10vh) scale(0.59);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 10s;
}
.firefly:nth-child(7)::after {
  animation-duration: 10s, 6338ms;
  animation-delay: 0ms, 4779ms;
}

@keyframes move7 {
  0% {
    transform: translateX(4vw) translateY(9vh) scale(0.68);
  }
  3.5714285714% {
    transform: translateX(-16vw) translateY(-25vh) scale(0.65);
  }
  7.1428571429% {
    transform: translateX(49vw) translateY(30vh) scale(0.33);
  }
  10.7142857143% {
    transform: translateX(36vw) translateY(1vh) scale(0.58);
  }
  14.2857142857% {
    transform: translateX(2vw) translateY(-11vh) scale(0.81);
  }
  17.8571428571% {
    transform: translateX(-47vw) translateY(-15vh) scale(0.95);
  }
  21.4285714286% {
    transform: translateX(-8vw) translateY(9vh) scale(0.71);
  }
  25% {
    transform: translateX(-21vw) translateY(-26vh) scale(0.71);
  }
  28.5714285714% {
    transform: translateX(-29vw) translateY(-41vh) scale(0.97);
  }
  32.1428571429% {
    transform: translateX(5vw) translateY(47vh) scale(0.89);
  }
  35.7142857143% {
    transform: translateX(7vw) translateY(-15vh) scale(0.65);
  }
  39.2857142857% {
    transform: translateX(41vw) translateY(0vh) scale(0.84);
  }
  42.8571428571% {
    transform: translateX(1vw) translateY(36vh) scale(0.29);
  }
  46.4285714286% {
    transform: translateX(-14vw) translateY(44vh) scale(0.83);
  }
  50% {
    transform: translateX(46vw) translateY(-19vh) scale(0.48);
  }
  53.5714285714% {
    transform: translateX(-31vw) translateY(-37vh) scale(0.72);
  }
  57.1428571429% {
    transform: translateX(-41vw) translateY(-43vh) scale(0.74);
  }
  60.7142857143% {
    transform: translateX(-17vw) translateY(34vh) scale(0.95);
  }
  64.2857142857% {
    transform: translateX(47vw) translateY(-21vh) scale(0.74);
  }
  67.8571428571% {
    transform: translateX(-3vw) translateY(22vh) scale(0.97);
  }
  71.4285714286% {
    transform: translateX(-25vw) translateY(40vh) scale(0.8);
  }
  75% {
    transform: translateX(27vw) translateY(-19vh) scale(0.68);
  }
  78.5714285714% {
    transform: translateX(47vw) translateY(3vh) scale(0.28);
  }
  82.1428571429% {
    transform: translateX(48vw) translateY(-24vh) scale(0.91);
  }
  85.7142857143% {
    transform: translateX(28vw) translateY(-26vh) scale(0.46);
  }
  89.2857142857% {
    transform: translateX(22vw) translateY(-37vh) scale(0.59);
  }
  92.8571428571% {
    transform: translateX(14vw) translateY(25vh) scale(0.77);
  }
  96.4285714286% {
    transform: translateX(-29vw) translateY(-32vh) scale(0.28);
  }
  100% {
    transform: translateX(34vw) translateY(8vh) scale(0.78);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 14s;
}
.firefly:nth-child(8)::after {
  animation-duration: 14s, 7161ms;
  animation-delay: 0ms, 4745ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-43vw) translateY(-8vh) scale(0.4);
  }
  4.5454545455% {
    transform: translateX(5vw) translateY(2vh) scale(0.92);
  }
  9.0909090909% {
    transform: translateX(-18vw) translateY(41vh) scale(0.5);
  }
  13.6363636364% {
    transform: translateX(-41vw) translateY(49vh) scale(0.4);
  }
  18.1818181818% {
    transform: translateX(1vw) translateY(-33vh) scale(0.67);
  }
  22.7272727273% {
    transform: translateX(-22vw) translateY(45vh) scale(0.93);
  }
  27.2727272727% {
    transform: translateX(43vw) translateY(38vh) scale(0.68);
  }
  31.8181818182% {
    transform: translateX(27vw) translateY(27vh) scale(0.5);
  }
  36.3636363636% {
    transform: translateX(-38vw) translateY(24vh) scale(0.69);
  }
  40.9090909091% {
    transform: translateX(10vw) translateY(-7vh) scale(0.47);
  }
  45.4545454545% {
    transform: translateX(27vw) translateY(-37vh) scale(0.49);
  }
  50% {
    transform: translateX(-28vw) translateY(27vh) scale(0.86);
  }
  54.5454545455% {
    transform: translateX(-14vw) translateY(9vh) scale(0.94);
  }
  59.0909090909% {
    transform: translateX(-6vw) translateY(-46vh) scale(0.5);
  }
  63.6363636364% {
    transform: translateX(-16vw) translateY(24vh) scale(0.72);
  }
  68.1818181818% {
    transform: translateX(41vw) translateY(11vh) scale(0.99);
  }
  72.7272727273% {
    transform: translateX(-20vw) translateY(-40vh) scale(0.52);
  }
  77.2727272727% {
    transform: translateX(-4vw) translateY(9vh) scale(0.41);
  }
  81.8181818182% {
    transform: translateX(8vw) translateY(30vh) scale(0.38);
  }
  86.3636363636% {
    transform: translateX(34vw) translateY(25vh) scale(0.95);
  }
  90.9090909091% {
    transform: translateX(40vw) translateY(0vh) scale(0.96);
  }
  95.4545454545% {
    transform: translateX(6vw) translateY(-7vh) scale(0.36);
  }
  100% {
    transform: translateX(-15vw) translateY(45vh) scale(0.77);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 14s;
}
.firefly:nth-child(9)::after {
  animation-duration: 14s, 7886ms;
  animation-delay: 0ms, 3117ms;
}

@keyframes move9 {
  0% {
    transform: translateX(3vw) translateY(30vh) scale(0.6);
  }
  5.5555555556% {
    transform: translateX(-43vw) translateY(-12vh) scale(0.78);
  }
  11.1111111111% {
    transform: translateX(-41vw) translateY(23vh) scale(0.65);
  }
  16.6666666667% {
    transform: translateX(-10vw) translateY(-27vh) scale(0.42);
  }
  22.2222222222% {
    transform: translateX(-15vw) translateY(27vh) scale(0.57);
  }
  27.7777777778% {
    transform: translateX(7vw) translateY(-15vh) scale(0.52);
  }
  33.3333333333% {
    transform: translateX(34vw) translateY(-12vh) scale(0.95);
  }
  38.8888888889% {
    transform: translateX(-25vw) translateY(-42vh) scale(0.79);
  }
  44.4444444444% {
    transform: translateX(46vw) translateY(-30vh) scale(0.72);
  }
  50% {
    transform: translateX(41vw) translateY(18vh) scale(0.71);
  }
  55.5555555556% {
    transform: translateX(11vw) translateY(-1vh) scale(0.83);
  }
  61.1111111111% {
    transform: translateX(-15vw) translateY(-32vh) scale(0.64);
  }
  66.6666666667% {
    transform: translateX(49vw) translateY(-21vh) scale(0.72);
  }
  72.2222222222% {
    transform: translateX(47vw) translateY(10vh) scale(0.81);
  }
  77.7777777778% {
    transform: translateX(-18vw) translateY(8vh) scale(0.5);
  }
  83.3333333333% {
    transform: translateX(12vw) translateY(-8vh) scale(0.38);
  }
  88.8888888889% {
    transform: translateX(-13vw) translateY(-17vh) scale(0.68);
  }
  94.4444444444% {
    transform: translateX(-24vw) translateY(32vh) scale(0.34);
  }
  100% {
    transform: translateX(1vw) translateY(-42vh) scale(0.82);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 14s;
}
.firefly:nth-child(10)::after {
  animation-duration: 14s, 7094ms;
  animation-delay: 0ms, 7982ms;
}

@keyframes move10 {
  0% {
    transform: translateX(-33vw) translateY(11vh) scale(0.28);
  }
  3.7037037037% {
    transform: translateX(-7vw) translateY(-44vh) scale(0.45);
  }
  7.4074074074% {
    transform: translateX(27vw) translateY(-45vh) scale(0.9);
  }
  11.1111111111% {
    transform: translateX(14vw) translateY(31vh) scale(0.67);
  }
  14.8148148148% {
    transform: translateX(-48vw) translateY(-26vh) scale(0.92);
  }
  18.5185185185% {
    transform: translateX(-14vw) translateY(-5vh) scale(0.38);
  }
  22.2222222222% {
    transform: translateX(47vw) translateY(44vh) scale(0.96);
  }
  25.9259259259% {
    transform: translateX(1vw) translateY(-3vh) scale(0.47);
  }
  29.6296296296% {
    transform: translateX(-7vw) translateY(-35vh) scale(0.27);
  }
  33.3333333333% {
    transform: translateX(-12vw) translateY(11vh) scale(0.92);
  }
  37.037037037% {
    transform: translateX(10vw) translateY(8vh) scale(0.74);
  }
  40.7407407407% {
    transform: translateX(-24vw) translateY(16vh) scale(0.5);
  }
  44.4444444444% {
    transform: translateX(-7vw) translateY(-46vh) scale(0.44);
  }
  48.1481481481% {
    transform: translateX(29vw) translateY(-5vh) scale(0.35);
  }
  51.8518518519% {
    transform: translateX(-43vw) translateY(-26vh) scale(0.69);
  }
  55.5555555556% {
    transform: translateX(16vw) translateY(-42vh) scale(0.56);
  }
  59.2592592593% {
    transform: translateX(4vw) translateY(-1vh) scale(0.61);
  }
  62.962962963% {
    transform: translateX(47vw) translateY(6vh) scale(0.4);
  }
  66.6666666667% {
    transform: translateX(46vw) translateY(-17vh) scale(0.89);
  }
  70.3703703704% {
    transform: translateX(-40vw) translateY(-44vh) scale(0.62);
  }
  74.0740740741% {
    transform: translateX(-26vw) translateY(-5vh) scale(0.68);
  }
  77.7777777778% {
    transform: translateX(13vw) translateY(44vh) scale(0.86);
  }
  81.4814814815% {
    transform: translateX(9vw) translateY(-41vh) scale(0.88);
  }
  85.1851851852% {
    transform: translateX(-12vw) translateY(-17vh) scale(0.84);
  }
  88.8888888889% {
    transform: translateX(25vw) translateY(27vh) scale(0.35);
  }
  92.5925925926% {
    transform: translateX(-4vw) translateY(27vh) scale(0.56);
  }
  96.2962962963% {
    transform: translateX(40vw) translateY(8vh) scale(0.7);
  }
  100% {
    transform: translateX(37vw) translateY(-48vh) scale(0.27);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 11s;
}
.firefly:nth-child(11)::after {
  animation-duration: 11s, 8588ms;
  animation-delay: 0ms, 4036ms;
}

@keyframes move11 {
  0% {
    transform: translateX(40vw) translateY(28vh) scale(0.3);
  }
  4.347826087% {
    transform: translateX(10vw) translateY(-20vh) scale(0.7);
  }
  8.6956521739% {
    transform: translateX(-25vw) translateY(7vh) scale(0.91);
  }
  13.0434782609% {
    transform: translateX(-31vw) translateY(32vh) scale(0.37);
  }
  17.3913043478% {
    transform: translateX(41vw) translateY(18vh) scale(0.61);
  }
  21.7391304348% {
    transform: translateX(12vw) translateY(-12vh) scale(0.88);
  }
  26.0869565217% {
    transform: translateX(16vw) translateY(26vh) scale(0.26);
  }
  30.4347826087% {
    transform: translateX(-36vw) translateY(-8vh) scale(0.81);
  }
  34.7826086957% {
    transform: translateX(46vw) translateY(-48vh) scale(0.94);
  }
  39.1304347826% {
    transform: translateX(-14vw) translateY(-33vh) scale(0.34);
  }
  43.4782608696% {
    transform: translateX(-44vw) translateY(49vh) scale(0.94);
  }
  47.8260869565% {
    transform: translateX(-14vw) translateY(-23vh) scale(0.57);
  }
  52.1739130435% {
    transform: translateX(-49vw) translateY(-8vh) scale(0.48);
  }
  56.5217391304% {
    transform: translateX(27vw) translateY(-2vh) scale(0.31);
  }
  60.8695652174% {
    transform: translateX(44vw) translateY(19vh) scale(0.7);
  }
  65.2173913043% {
    transform: translateX(0vw) translateY(-16vh) scale(0.97);
  }
  69.5652173913% {
    transform: translateX(-47vw) translateY(46vh) scale(0.75);
  }
  73.9130434783% {
    transform: translateX(-21vw) translateY(-30vh) scale(0.43);
  }
  78.2608695652% {
    transform: translateX(28vw) translateY(15vh) scale(0.73);
  }
  82.6086956522% {
    transform: translateX(49vw) translateY(7vh) scale(0.81);
  }
  86.9565217391% {
    transform: translateX(37vw) translateY(-9vh) scale(0.57);
  }
  91.3043478261% {
    transform: translateX(27vw) translateY(7vh) scale(0.42);
  }
  95.652173913% {
    transform: translateX(3vw) translateY(37vh) scale(0.47);
  }
  100% {
    transform: translateX(-41vw) translateY(-38vh) scale(0.98);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 12s;
}
.firefly:nth-child(12)::after {
  animation-duration: 12s, 7858ms;
  animation-delay: 0ms, 7190ms;
}

@keyframes move12 {
  0% {
    transform: translateX(20vw) translateY(6vh) scale(0.29);
  }
  4.7619047619% {
    transform: translateX(20vw) translateY(1vh) scale(0.75);
  }
  9.5238095238% {
    transform: translateX(22vw) translateY(-2vh) scale(0.47);
  }
  14.2857142857% {
    transform: translateX(31vw) translateY(-32vh) scale(0.77);
  }
  19.0476190476% {
    transform: translateX(47vw) translateY(-2vh) scale(0.32);
  }
  23.8095238095% {
    transform: translateX(3vw) translateY(-21vh) scale(0.44);
  }
  28.5714285714% {
    transform: translateX(-16vw) translateY(7vh) scale(0.46);
  }
  33.3333333333% {
    transform: translateX(11vw) translateY(16vh) scale(0.5);
  }
  38.0952380952% {
    transform: translateX(14vw) translateY(20vh) scale(0.49);
  }
  42.8571428571% {
    transform: translateX(14vw) translateY(-20vh) scale(0.41);
  }
  47.619047619% {
    transform: translateX(-31vw) translateY(-4vh) scale(0.79);
  }
  52.380952381% {
    transform: translateX(-1vw) translateY(-23vh) scale(0.71);
  }
  57.1428571429% {
    transform: translateX(-36vw) translateY(-8vh) scale(0.72);
  }
  61.9047619048% {
    transform: translateX(-22vw) translateY(4vh) scale(0.9);
  }
  66.6666666667% {
    transform: translateX(-16vw) translateY(-16vh) scale(0.94);
  }
  71.4285714286% {
    transform: translateX(4vw) translateY(-17vh) scale(0.87);
  }
  76.1904761905% {
    transform: translateX(-31vw) translateY(8vh) scale(0.6);
  }
  80.9523809524% {
    transform: translateX(6vw) translateY(-12vh) scale(0.87);
  }
  85.7142857143% {
    transform: translateX(-13vw) translateY(33vh) scale(0.43);
  }
  90.4761904762% {
    transform: translateX(-49vw) translateY(30vh) scale(0.62);
  }
  95.2380952381% {
    transform: translateX(23vw) translateY(-15vh) scale(0.45);
  }
  100% {
    transform: translateX(-15vw) translateY(44vh) scale(0.47);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 14s;
}
.firefly:nth-child(13)::after {
  animation-duration: 14s, 10313ms;
  animation-delay: 0ms, 5815ms;
}

@keyframes move13 {
  0% {
    transform: translateX(39vw) translateY(22vh) scale(0.98);
  }
  3.5714285714% {
    transform: translateX(49vw) translateY(40vh) scale(0.75);
  }
  7.1428571429% {
    transform: translateX(-39vw) translateY(-39vh) scale(0.32);
  }
  10.7142857143% {
    transform: translateX(-4vw) translateY(-4vh) scale(0.75);
  }
  14.2857142857% {
    transform: translateX(-33vw) translateY(-24vh) scale(0.48);
  }
  17.8571428571% {
    transform: translateX(16vw) translateY(-46vh) scale(0.41);
  }
  21.4285714286% {
    transform: translateX(46vw) translateY(-46vh) scale(0.84);
  }
  25% {
    transform: translateX(13vw) translateY(-36vh) scale(0.53);
  }
  28.5714285714% {
    transform: translateX(-30vw) translateY(-21vh) scale(0.52);
  }
  32.1428571429% {
    transform: translateX(21vw) translateY(-37vh) scale(1);
  }
  35.7142857143% {
    transform: translateX(-6vw) translateY(-17vh) scale(0.68);
  }
  39.2857142857% {
    transform: translateX(-31vw) translateY(-9vh) scale(0.84);
  }
  42.8571428571% {
    transform: translateX(-21vw) translateY(33vh) scale(0.74);
  }
  46.4285714286% {
    transform: translateX(14vw) translateY(20vh) scale(0.58);
  }
  50% {
    transform: translateX(-30vw) translateY(-41vh) scale(0.99);
  }
  53.5714285714% {
    transform: translateX(-16vw) translateY(19vh) scale(0.65);
  }
  57.1428571429% {
    transform: translateX(-9vw) translateY(18vh) scale(0.95);
  }
  60.7142857143% {
    transform: translateX(8vw) translateY(-40vh) scale(0.67);
  }
  64.2857142857% {
    transform: translateX(-49vw) translateY(6vh) scale(0.67);
  }
  67.8571428571% {
    transform: translateX(25vw) translateY(-46vh) scale(0.83);
  }
  71.4285714286% {
    transform: translateX(-31vw) translateY(16vh) scale(0.83);
  }
  75% {
    transform: translateX(19vw) translateY(-39vh) scale(0.38);
  }
  78.5714285714% {
    transform: translateX(-35vw) translateY(2vh) scale(0.97);
  }
  82.1428571429% {
    transform: translateX(40vw) translateY(27vh) scale(0.76);
  }
  85.7142857143% {
    transform: translateX(-12vw) translateY(-21vh) scale(0.59);
  }
  89.2857142857% {
    transform: translateX(-23vw) translateY(-24vh) scale(0.95);
  }
  92.8571428571% {
    transform: translateX(37vw) translateY(39vh) scale(0.32);
  }
  96.4285714286% {
    transform: translateX(14vw) translateY(39vh) scale(0.71);
  }
  100% {
    transform: translateX(-42vw) translateY(16vh) scale(0.39);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 10s;
}
.firefly:nth-child(14)::after {
  animation-duration: 10s, 5564ms;
  animation-delay: 0ms, 5498ms;
}

@keyframes move14 {
  0% {
    transform: translateX(-30vw) translateY(27vh) scale(0.4);
  }
  4% {
    transform: translateX(-11vw) translateY(-22vh) scale(0.27);
  }
  8% {
    transform: translateX(-3vw) translateY(-47vh) scale(0.69);
  }
  12% {
    transform: translateX(-49vw) translateY(-13vh) scale(0.85);
  }
  16% {
    transform: translateX(5vw) translateY(-39vh) scale(0.58);
  }
  20% {
    transform: translateX(-42vw) translateY(-33vh) scale(0.89);
  }
  24% {
    transform: translateX(17vw) translateY(-29vh) scale(0.28);
  }
  28% {
    transform: translateX(-46vw) translateY(-3vh) scale(0.94);
  }
  32% {
    transform: translateX(-16vw) translateY(-40vh) scale(0.99);
  }
  36% {
    transform: translateX(-41vw) translateY(-7vh) scale(1);
  }
  40% {
    transform: translateX(-36vw) translateY(35vh) scale(0.63);
  }
  44% {
    transform: translateX(-26vw) translateY(10vh) scale(0.57);
  }
  48% {
    transform: translateX(-35vw) translateY(-42vh) scale(0.31);
  }
  52% {
    transform: translateX(-46vw) translateY(-39vh) scale(0.61);
  }
  56% {
    transform: translateX(44vw) translateY(41vh) scale(0.27);
  }
  60% {
    transform: translateX(-48vw) translateY(-12vh) scale(0.44);
  }
  64% {
    transform: translateX(16vw) translateY(23vh) scale(0.48);
  }
  68% {
    transform: translateX(-42vw) translateY(27vh) scale(0.78);
  }
  72% {
    transform: translateX(-10vw) translateY(38vh) scale(0.68);
  }
  76% {
    transform: translateX(-33vw) translateY(-12vh) scale(0.41);
  }
  80% {
    transform: translateX(-34vw) translateY(48vh) scale(0.72);
  }
  84% {
    transform: translateX(39vw) translateY(2vh) scale(0.77);
  }
  88% {
    transform: translateX(-1vw) translateY(21vh) scale(0.7);
  }
  92% {
    transform: translateX(49vw) translateY(-18vh) scale(0.37);
  }
  96% {
    transform: translateX(0vw) translateY(17vh) scale(0.75);
  }
  100% {
    transform: translateX(24vw) translateY(0vh) scale(0.58);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 12s;
}
.firefly:nth-child(15)::after {
  animation-duration: 12s, 10401ms;
  animation-delay: 0ms, 4341ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-7vw) translateY(35vh) scale(0.56);
  }
  5.5555555556% {
    transform: translateX(-13vw) translateY(-35vh) scale(0.66);
  }
  11.1111111111% {
    transform: translateX(47vw) translateY(-47vh) scale(0.67);
  }
  16.6666666667% {
    transform: translateX(-43vw) translateY(3vh) scale(0.84);
  }
  22.2222222222% {
    transform: translateX(7vw) translateY(-36vh) scale(0.26);
  }
  27.7777777778% {
    transform: translateX(6vw) translateY(-29vh) scale(0.53);
  }
  33.3333333333% {
    transform: translateX(35vw) translateY(27vh) scale(0.33);
  }
  38.8888888889% {
    transform: translateX(9vw) translateY(-28vh) scale(0.91);
  }
  44.4444444444% {
    transform: translateX(23vw) translateY(31vh) scale(0.76);
  }
  50% {
    transform: translateX(-49vw) translateY(0vh) scale(0.46);
  }
  55.5555555556% {
    transform: translateX(-37vw) translateY(34vh) scale(0.87);
  }
  61.1111111111% {
    transform: translateX(20vw) translateY(-23vh) scale(0.59);
  }
  66.6666666667% {
    transform: translateX(34vw) translateY(-9vh) scale(0.73);
  }
  72.2222222222% {
    transform: translateX(-3vw) translateY(16vh) scale(0.61);
  }
  77.7777777778% {
    transform: translateX(-14vw) translateY(10vh) scale(0.31);
  }
  83.3333333333% {
    transform: translateX(36vw) translateY(20vh) scale(0.71);
  }
  88.8888888889% {
    transform: translateX(1vw) translateY(29vh) scale(0.88);
  }
  94.4444444444% {
    transform: translateX(-13vw) translateY(-42vh) scale(0.99);
  }
  100% {
    transform: translateX(-32vw) translateY(46vh) scale(0.3);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}
