@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --animation-time: 2500ms;
  --negative-animation-distance: -40px;
  --positive-animation-distance: 40px;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #66d9ff;
  height: 100vh;
  background-image: linear-gradient(#0099cc, #99e6ff);
  background-attachment: fixed;
  font-weight: normal;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  overflow: auto;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(66, 66, 66);
}

button {
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  border: 0;
}
button:hover {
  opacity: 0.7;
}

.home-containter {
  font-family: "Tangerine", Georgia, "Times New Roman", Times, serif;
  font-size: max(36px, 8vh);
  text-align: center;
  padding-top: 30vh;
}
.home-containter h1 {
  font-size: max(42px, 15vh);
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 20px #222222;
  width: 30vw;
  max-width: 200px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.content-container {
  padding-top: 90px;
  width: 1000px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------- nav ------------------- */

nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: #333;
  overflow: hidden;
}

nav ul {
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 1s;
  height: 100%;
}

nav ul li:hover {
  background-color: #ddd;
  color: black;
}

nav ul li.active {
  background-color: #00131a;
  color: white;
}

nav ul a {
  color: grey;
}

.navbar-container {
  width: 1000px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.navbar-rightside {
  float: right;
  cursor: pointer;
}

.dropdown-open {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* menu icon and animation */

.menu-icon {
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: grey;
  margin: 4.8px 0;
  transition: 0.4s;
}
.bar1 {
  margin-top: 0;
}
.bar3 {
  margin-bottom: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 5.5px);
  transform: rotate(-45deg) translate(-7px, 5.5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* ------------------- modal ------------------- */

.modal-background {
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 1000px;
  max-width: 90vw;
}

.caption {
  margin: auto;
  display: block;
  width: 1000px;
  max-width: 90vw;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Zoom Animation */
.modal-content,
.caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------- bullet points ------------------- */

.code-bullet-points {
  column-count: 2;
  list-style: none;
  padding-left: 0;
}
.code-bullet-points li {
  position: relative;
  padding-left: 25px;
}
.code-bullet-points li:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("./assets/code-bullet-point.png");
  background-size: cover;
  left: 0;
  top: 4px;
}

.value-bullet-points {
  list-style: none;
  padding-left: 0;
}
.value-bullet-points li {
  position: relative;
  padding-left: 30px;
}
.value-bullet-points li:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("./assets/value-bullet-point.png");
  background-size: cover;
  left: 0;
}

/* ------------------- animations ------------------- */

.fade {
  -webkit-animation-duration: var(--animation-time);
  -moz-animation-duration: var(--animation-time);
  -o-animation-duration: var(--animation-time);
  -ms-animation-duration: var(--animation-time);
  animation-duration: var(--animation-time);
}

.fade.down {
  animation: fadeDown ease var(--animation-time) forwards;
  -webkit-animation: fadeDown ease var(--animation-time) forwards;
  -moz-animation: fadeDown ease var(--animation-time) forwards;
  -o-animation: fadeDown ease var(--animation-time) forwards;
  -ms-animation: fadeDown ease var(--animation-time) forwards;
}
@keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeDown {
  from {
    transform: translateY(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade.up {
  animation: fadeUp ease var(--animation-time) forwards;
  -webkit-animation: fadeUp ease var(--animation-time) forwards;
  -moz-animation: fadeUp ease var(--animation-time) forwards;
  -o-animation: fadeUp ease var(--animation-time) forwards;
  -ms-animation: fadeUp ease var(--animation-time) forwards;
}
@keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeUp {
  from {
    transform: translateY(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade.left {
  animation: fadeLeft ease var(--animation-time) forwards;
  -webkit-animation: fadeLeft ease var(--animation-time) forwards;
  -moz-animation: fadeLeft ease var(--animation-time) forwards;
  -o-animation: fadeLeft ease var(--animation-time) forwards;
  -ms-animation: fadeLeft ease var(--animation-time) forwards;
}
@keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeLeft {
  from {
    transform: translateX(var(--positive-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fade.right {
  animation: fadeRight ease var(--animation-time) forwards;
  -webkit-animation: fadeRight ease var(--animation-time) forwards;
  -moz-animation: fadeRight ease var(--animation-time) forwards;
  -o-animation: fadeRight ease var(--animation-time) forwards;
  -ms-animation: fadeRight ease var(--animation-time) forwards;
}
@keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-o-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-ms-keyframes fadeRight {
  from {
    transform: translateX(var(--negative-animation-distance));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
